@page
@model ShopOnline.Pages.Authen.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="mt-5">
                <div class="mb-3">
                    <label for="Username" class="form-label">Username:</label>
                    <input type="text" id="Username" name="Username" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password:</label>
                    <input type="password" id="Password" name="Password" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a asp-page="/Index" class="btn btn-secondary">Cancel</a>

                @if (!string.IsNullOrEmpty(Model.Msg))
                {
                    <div class="alert alert-danger mt-3" role="alert">
                        @Model.Msg
                    </div>
                }
            </form>
        </div>
    </div>
</div>
